---
# This workflow requires a GALAXY_API_KEY secret present in the GitHub
# repository or organization.

name: release
'on':
  push:
    tags:
      - '*'

defaults:
  run:
    working-directory: 'webarchitect609.jet_brains_toolbox'

jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v2
        with:
          path: 'webarchitect609.jet_brains_toolbox'

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: pip3 install ansible-base

      - name: Trigger a new import on Galaxy
        run: |
          ansible-galaxy role import  --api-key ${{ secrets.GALAXY_API_KEY }} \
          $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
